*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.taskmanager{
    text-align: center;
    
}

.row{
    background-color: burlywood;
    align-items: center;
}

.btn{
    align-items: center;
    display: inline-block;
    background-color:rgb(248, 216, 99);
    margin: .5cm;
    text-align: center;
}
.footer{
    padding: 0.5%;
    height: 2.5rem;
    bottom: 0;
    width: 100%;
    background-color: #d63384;
    text-align: center;
    position:absolute;
}