.footer{
    padding: 1%;
    text-align: center;
    height: 1.5cm;
}
.thirdpara{
    background-color:rgb(251, 212, 197);
    margin-bottom: 0%;
}
.card-img-top{
    width: 100%;
    height: 450px;
    object-fit: contain;
}
.nav-bar{
    background-color: aliceblue;
    margin: auto;
    padding: .5cm;
    text-align: center;
}
.nav-item1{
    background-color: burlywood;
    margin: 0.2cm;
    padding: 0.3cm;
    text-align: center;
    text-decoration: wavy;
}
.image{
    width: 100%;
    height: 100vh;
    object-fit: contain;
    padding: 0%;
}
